@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom range input thumb polish */
input[type="range"] {
  @apply h-1.5 appearance-none rounded-full bg-gray-200 cursor-pointer;
}

input[type="range"]::-webkit-slider-thumb {
  @apply appearance-none h-4 w-4 rounded-full bg-blue-600 shadow;
}

input[type="range"]::-moz-range-thumb {
  @apply h-4 w-4 rounded-full bg-blue-600 border-0 shadow;
}
